.tooltip {
	--base-padding-vertical: 1rem;
	--base-padding-horizontal: 1.25rem;

	position: relative;
	width: fit-content;
}

.tooltip-content {
	display: none;
	position: absolute;
	min-width: 25rem;
	max-width: 80ch;
	border-radius: 0.5rem;
	background-color: #262626;
	padding: var(--base-padding-vertical) var(--base-padding-horizontal);
	color: #c7c7c7;
	z-index: 1000;
}

.tooltip-content:before {
	content: "";
	position: absolute;
	border-width: 0.5rem;
	border-style: solid;
}

.tooltip-content-top {
	bottom: calc(100% + 0.75rem);
}

.tooltip-content-top:before {
	bottom: -0.95rem;
	left: 3rem;
	border-color: #262626 transparent transparent transparent;
}

.tooltip-content-bottom {
	top: calc(100% + 0.75rem);
}

.tooltip-content-bottom:before {
	top: -0.95rem;
	left: 3rem;
	border-color: transparent transparent #262626 transparent;
}

.tooltip-content-left {
	right: calc(100% + 0.75rem);
	top: 50%;
	transform: translateY(-50%);
}

.tooltip-content-left:before {
	right: -0.95rem;
	top: 50%;
	transform: translateY(-50%);
	border-color: transparent transparent transparent #262626;
}

.tooltip-content-right {
	left: calc(100% + 0.75rem);
	top: 50%;
	transform: translateY(-50%);
}

.tooltip-content-right:before {
	left: -0.95rem;
	top: 50%;
	transform: translateY(-50%);
	border-color: transparent #262626 transparent transparent;
}

.tooltip-content.tooltip-content-open {
	display: flex;
	gap: 0.75rem;
}

.tooltip-content-icon > svg {
	margin-top: 0.25rem;
}

.tooltip-content-title {
	color: white;
	font-size: 0.875rem;
	font-weight: 500;
}

.tooltip-content-body {
	line-height: 1.5;
	font-size: 0.875rem;
	margin: 0.25rem 0 0;
}

.tooltip-content-close {
	font-size: 1.5rem;
	position: absolute;
	cursor: pointer;
	right: calc(var(--base-padding-horizontal) - 0.25rem);
	top: calc(var(--base-padding-vertical) - 0.25rem);
}
