.doc-article {
	padding-bottom: 7.5rem;
}

.doc-section {
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.doc-section > ul {
	list-style: none;
	padding: 0;
}

.doc-section > ul > li {
	margin-bottom: 1.5rem;
}

.doc-list-horizontal {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.doc-section-badge ul {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	padding: 0;
}

.doc-section-badge > ul > li {
	margin-bottom: 0.5rem;
}

.doc-section-card > ul > li {
	padding-bottom: 2rem;
}
