.doc-article {
	padding-bottom: 7.5rem;
}

.doc-section {
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.doc-list {
	list-style: none;
	padding: 0;
}

.doc-list > li {
	margin-bottom: 1.5rem;
}

.doc-list-horizontal {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.doc-list-tooltip > li {
	padding-top: 6rem;
	margin-bottom: 2.5rem;
	width: 25rem;
}

.doc-columns {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

@media (max-width: 768px) {
	.doc-columns {
		flex-direction: column;
	}
}
